.brand {
  width: 188px;
  height: 38px;
  margin-left: 8px;
  margin-top: 5px;
}
header {
  position: absolute;
  height: 50px;
  margin-left: -5px;
  margin-top: 0px;
  margin-bottom: 20px;
}

aside.main-sidebar {
  position: relative;
  border-radius: 44px;
  margin-top: 70px;
  max-height: 8cm !important;
  margin-left: 3px;
  margin-bottom: 600px;
}
